
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sasa Djukic">
    <meta name="description" content="Powerball Data">
    <meta name="keywords" content="lottery, Powerball, Mega Millions">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Powerball Data</title>
</head>
<body>
    <div class="header">
        <a href="{{ url_for('powerball.home') }}"><button>Home</button></a>
        <div class="dropdown">
            <button>Winning Numbers</button>
            <div class="dropdown-content">
                <a href="{{ url_for('powerball.all_time_winners') }}">Top All Time</a>
                <a href="{{ url_for('powerball.top_6_months') }}">Top Last 6 Months</a>
                <a href="{{ url_for('powerball.recent_winners') }}">Recent Winners</a>
            </div>
        </div>
        <div class="dropdown">
            <button>Stats</button>
            <div class="dropdown-content">
                <a href="{{ url_for('powerball.search') }}">Per Number</a>
                <a href="{{ url_for('powerball.winning_hands_white') }}">Winning Hands White</a>
                <a href="{{ url_for('powerball.winning_hands_red') }}">Winning Hands Red</a>
                <a href="{{ url_for('powerball.trends') }}">Trending Numbers</a>
                <a href="{{ url_for('powerball.powerball_matrix') }}">Powerball Matrix</a>
            </div>
        </div>
        <div class="dropdown">
            <button>Extra</button>
            <div class="dropdown-content">
                <a href="{{ url_for('powerball.fun_facts') }}">Fun Facts</a>
                <a href="{{ url_for('powerball.probabilities') }}">Probabilities</a>
                <a href="{{ url_for('powerball.predictions') }}">Predictions</a>
            </div>
        </div>
        <a href="{{ url_for('powerball.rules') }}"><button>About</button></a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>