{% extends 'base.html' %}

<body>
    {% block content %}
        <div class="fun-facts">
            <p>
                We've been tracking droughts, streaks, monthly stats and yearly stats
                among other things. So, I think it would be good to have some fun facts and show 
                record holders for Powerball.
            </p>
            <h4>Droughts</h4>
            <p>
                Numbers often go on droughts. Droughts are the number of consecutive Powerball draws
                your number has NOT been drawn. And the MAXIMUM DRAWING DROUGHT (MDD) is the highest 
                number of consecutive draws your number has NOT been drawn.
            </p>
            <h5>-- White Numbers --</h5>
            <table class="basic-stats">
                <tr>
                    <th>Number</th>
                    <th>Max Drawing Drought (MDD)</th>
                    <th>Date of MDD</th>
                    <th>Average White Number MDD</th>
                    <th>Placement</th>
                </tr>
                <tr>
                    <td>35</td>
                    <td>111</td>
                    <td>02/10/2018 - 03/02/2019</td>
                    <td>65.45</td>
                    <td>Highest</td>
                </tr>
                <tr>
                    <td>61</td>
                    <td>40</td>
                    <td>07/29/2020 - 12/12/2020</td>
                    <td>65.45</td>
                    <td>Lowest</td>
                </tr>
            </table>
            <h5>-- Red Numbers --</h5>
            <table class="basic-stats">
                <tr>
                    <th>Number</th>
                    <th>Max Drawing Drought (MDD)</th>
                    <th>Date of MDD</th>
                    <th>Average Red Number MDD</th>
                    <th>Placement</th>
                </tr>
                <tr>
                    <td>15</td>
                    <td>200</td>
                    <td>09/21/2019 - 08-21-2021</td>
                    <td>117.46</td>
                    <td>Highest</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>67</td>
                    <td>01/24/2018 - 09/12/2018</td>
                    <td>117.46</td>
                    <td>Lowest</td>
                </tr>
            </table>
        </div>

    {% endblock %}
</body>