

{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="index-title">
            <p>
                This web page displays Powerball Data
            </p>
            <p><span class="index-note">
                *Please Note. Some features are still
                in early development
               </span>
            </p>
            <p>Last updated: <span class="last-updated">{{ latest }}</span></p>
        </div>
        <div class="create">Created by Sasa Djukic</div>
    {% endblock %}
</body>