{% extends 'base.html' %}

<body>
    {% block content %}
        <form action="{{ url_for('powerball.powerball_matrix') }}" method="POST">
            <label for="matrix-input">Enter a red (POWERBALL) number</label>
            <input type="number" id="matrix-input" name="matrix-input" min="1" max="26" required>
            <input type="submit" id="matrix-button"value="Submit">
        </form>
        {% if number %}
            <div class="matrix-content">
                <div class="mc-title">
                    <h3>Powerball Number</h3>
                    <h3>--- {{ number }} ---</h3>
                </div>
                <h4 class="stats-title">Last Five Winning Draws</h4>
                <table class="mc-last-five">
                    <tr>
                        <th>Draw Date</th>
                        <th>White Numbers</th>
                        <th>Powerball</th>
                    </tr>
                    {% for i in range(0, (m_data[number][0] | length)) %}
                        <tr>
                            <td>{{ m_data[number][0][i][0] }}</td>
                            <td>{{ m_data[number][0][i][1] }}</td>
                            <td>{{ number }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p class="matrix-span">
                    <span class="probability-minor">
                        *Last five draws that number {{ number }} has been drawn as Powerball
                    </span> 
                </p> 
                <h4 class="stats-title">SUMS of White Numbers</h4>
                <p class="matrix-para">
                    Every winning powerball number comes with 5 winning white numbers 
                    in a single draw. Let's check stats of the sums of these white 
                    numbers for the chosen powerball number
                </p>
                <table class="probability-table-white" id="ff-table-white">
                    <tr>
                        <th>Powerball</th>
                        <th>Maximum Sum</th>
                        <th>Average Sum</th>
                        <th>Minimum Sum</th>
                    </tr>
                    <tr>
                        <td>{{ number }}</td>
                        <td>{{ m_data[number][1][0] }}</td>
                        <td>{{ m_data[number][1][1] }}</td>
                        <td>{{ m_data[number][1][2] }}</td>
                    </tr>
                </table>
                <p>   
                    <span class="probability-minor" id="pm-span2">
                        *Averages rounded to the closest digit for clarity
                    </span>
                </p>
                <h4 class="stats-title" id="hl-title">Highest/Lowest Difference</h4>
                <p class="matrix-para">
                    In addition to white number sums, we can check the difference
                    between highest and lowest white number in a single draw for given powerball number
                </p>
                <table class="probability-table-red" id="ff-table-red">
                    <tr>
                        <th>Powerball</th>
                        <th>Maximum Difference</th>
                        <th>Average Difference</th>
                        <th>Minimum Difference</th>
                    </tr>
                    <tr>
                        <td>{{ number }}</td>
                        <td>{{ m_data[number][1][3] }}</td>
                        <td>{{ m_data[number][1][4] }}</td>
                        <td>{{ m_data[number][1][5] }}</td>
                    </tr>
                </table>
                <p>   
                    <span class="probability-minor" id="pm-span2">
                        *Averages rounded to the closest digit for clarity
                    </span>
                </p>
                <h4 class="stats-title" id="wn-title">WHITE NUMBERS</h4>
                <p class="matrix-para" id="wn-para">
                    The table below shows how many times each white number has been drawn together
                    with our chosen powerball number
                </p>
                <table class="probability-table-white" id="mc-table-white">
                    <tbody>
                        <tr>
                            <th>Numbers (N)</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th>N</th>
                            {% for i in range(0, 10) %}
                                <td>{{ m_data[number][2][i] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>N+10</th>
                            {% for i in range(10, 20) %}
                                <td>{{ m_data[number][2][i] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>N+20</th>
                            {% for i in range(20, 30) %}
                                <td>{{ m_data[number][2][i] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>N+30</th>
                            {% for i in range(30, 40) %}
                                <td>{{ m_data[number][2][i] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>N+40</th>
                            {% for i in range(40, 50) %}
                                <td>{{ m_data[number][2][i] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>N+50</th>
                            {% for i in range(50, 60) %}
                                <td>{{ m_data[number][2][i] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>N+60</th>
                            {% for i in range(60, 69) %}
                                <td>{{ m_data[number][2][i] }}</td>
                            {% endfor %}
                            <td>*</td>
                        </tr>
                    </tbody>
                </table>
                <p class="matrix-span">
                    <span class="probability-minor">
                        *How often EACH white number has been drawn together with Powerball {{ number }}
                    </span> 
                </p> 
                <h4 class="stats-title">WINNING HANDS</h4>
                <p class="matrix-para" id="wh-para">
                    Finally, let's see the winning hands of white numbers 
                    together with our chosen powerball number
                </p>
                <table class="probability-table-red" id="mc-table-red">
                    <tr>
                        <th>Singles</th>
                        <th>Pair</th>
                        <th>Two Pairs</th>
                        <th>Three of Set</th>
                        <th>Full House</th>
                        <th>Poker</th>
                        <th>Flush</th>
                    </tr>
                    <tr>
                        {% for i in range(0, 7) %}
                            <td>{{ m_data[number][3][i] }}</td>
                        {% endfor %}
                    </tr>
                </table>
                <p class="matrix-span">
                    <span class="probability-minor">
                        *How often EACH winning pattern of WHITE NUMBERS has been drawn together with Powerball {{ number }}
                    </span><br>
                    <span class="probability-minor">
                        **To familiarize yourself with WINNING HANDS of WHITE NUMBERS check this link -> <a href="{{ url_for('powerball.winning_hands_white') }}" target="_blank" rel="noopener noreferrer">WINNING HANDS</a>
                    </span> 
                </p> 
            </div>
        {% endif %}
    {% endblock %}
</body>