
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="rules-content">
            <h4>About this page</h4>
            <p>
                This page breaks down winning numbers in Powerball.
                Info displayed here is not intended for 
                gambling purposes nor it claims to help you secure any winnings
            </p>
            <h4>What is Powerball?</h4>
            <p>
                Powerball is a lottery game that draws 5 winning 
                <span class="text">white numbers</span> 
                between 1 and 69, and 1 winning 
                <span class="text">Powerball</span> (red number) between 1 and 26.
            </p>
            <p>
                The two sets of numbers (white and red) are drawn 
                from two different drums. The Powerball rules changed on October 4th, 
                2015, and this web page covers draws beginning from that date. 
            </p>
            <p>
                Another important thing to know, starting on August 23, 2021, 
                draws would occur on Monday, in addition to Wednesday and Saturday.
                Keep this in mind when looking at the yearly charts. 
                For more info, follow the link <a href="https://www.powerball.com/" target="_blank" rel="noopener noreferrer">Powerball</a>
            </p>
        </div>
    {% endblock %}            
</body>
