
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="rules-content">
            <h4>What is Powerball?</h4>
            <p>Powerball is a lottery game that draws 5 winning white numbers 
                between 1 and 69, and 1 winning Powerball (red number) between 1 and 26.
                The two sets of numbers (white and red) are drawn 
                from two different drums.
                The Powerball rules changed on October 4th, 2015, so this data covers
                draws beginning from that date.
                The rule change increased the white-ball pool from 59 to 69
                while the Powerball (red ball) pool decreased from 35 to 26.
                For more info, follow the link <a href="https://www.powerball.com/">Powerball</a>
            </p>
        </div>
    {% endblock %}            
</body>
