
{% extends 'base.html' %}

<body>
    {% block content %}
        <!-- write a form to call search function from app.py -->
        <form action="{{ url_for('powerball.search') }}" method="POST">
            <label for="number_input">Enter a powerball number</label>
            <input type="number" id="number_input" name="number_input" min="1" max="69" required>
            <input type="submit" id="search-button"value="Submit">
        </form>
        {% if white_percentage %}
            <!-- create table with following columns: start date, end date, number, times drawn, percentage -->
            <div class="search-content">
                <h4 class="stats-title" id="bs-st">Basic stats</h4>
                <table class="basic-stats">
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Number</th>
                        <th>Ball Type</th>  
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>{{ earliest }}</td>
                        <td>{{ latest }}</td>
                        <td>{{ number }}</td>
                        <td>White Ball</td>
                        <td>{{ white_occurrences }}</td>
                        <td>{{ white_percentage }}%</td>
                    </tr>
                    {% if red_percentage %}
                        <tr>
                            <td>{{ earliest }}</td>
                            <td>{{ latest }}</td>
                            <td>{{ number }}</td>
                            <td>Powerball</td>
                            <td>{{ red_occurrences }}</td>
                            <td>{{ red_percentage }}%</td>
                        </tr>
                    {% endif %}
                </table>
                <h4 id="drought">DROUGHTS</h4>
                <table class="basic-stats">
                    <tr> 
                        <th>Number</th>
                        <th>Ball Type</th>
                        <th>Max Drawing Drought*</th>
                        <th>Current Drawing Drought*</th>
                    </tr>
                    <tr>
                        <td>{{ number }}</td>
                        <td>White Ball</td>
                        <td>{{ white_droughts[0] }}</td>
                        <td>{{ white_droughts[1] }}</td>
                    </tr>
                    {% if red_percentage %}
                        <tr>
                            <td>{{ number }}</td>
                            <td>Powerball</td>
                            <td>{{ red_drought[0] }}</td>
                            <td>{{ red_drought[1] }}</td>
                        </tr>
                    {% endif %}
                </table>
                <p class="notes">
                    *<span style="font-weight: bold">Drought</span> refers to consecutive 
                    draws a number <span style="font-weight: bold">HAS NOT</span> 
                    been drawn
                    </p>
                <h4>STREAKS</h4>
                <table class="basic-stats">
                    <tr>
                        <th>Number</th>
                        <th>Ball Type</th>
                        <th>Max Monthly Streak*</th>
                        <th>Current Monthly Streak*</th>
                    </tr>
                    <tr>
                        <td>{{ number }}</td>
                        <td>White Ball</td>
                        <td>{{ white_streaks[0] }}</td>
                        <td>{{ white_streaks[1] }}</td>
                    </tr>
                    {% if red_percentage %}
                        <tr>
                            <td>{{ number }}</td>
                            <td>Powerball</td>
                            <td>{{ red_streak[0] }}</td>
                            <td>{{ red_streak[1] }}</td>
                        </tr>
                    {% endif %}
                </table>
                <p class="notes">*<span style="font-weight: bold">Streak</span> refers 
                    to consecutive months a number <span style="font-weight: bold">HAS BEEN</span> 
                    drawn
                </p>
            </div> 
        {% endif %}
        {% if white_percentage %}
            <h4 class="stats-title">Monthly stats</h4>
            <img src="data:image/png;base64,{{ chart_white_monthly }}" alt="Monthly Chart">
            {% if red_percentage %}
                <img src="data:image/png;base64,{{ chart_red_monthly }}" alt="Monthly Chart">
            {% endif %}
        {% endif %}
        {% if white_percentage %}
            <h4 class="stats-title" id="ys-st">Yearly stats</h4>
            <img src="data:image/png;base64,{{ chart_white_yearly }}" alt="Yearly Chart">
            {% if red_percentage %}
                <img src="data:image/png;base64,{{ chart_red_yearly }}" alt="Yearly Chart">
            {% endif %}
        {% endif %}
    {% endblock %}
</body>