
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="hands-content">
            <p>
                <span class="hands-minor">
                    *This page breaks down winning WHITE numbers in Powerball
                </span>
            </p>
            <p>
                There are superstitious people who choose their lottery numbers
                based on their own birthdays, as well as birthdays of their family and friends.
                There are people who want to avoid superstitious people and choose only
                numbers higher than 31.<br>
                <br>                
                Is it possible to check, which one of the two groups of people have a higher chance
                to win Powerball? Not sure if I can answer that question, but let's 
                use our superstitions to start simple and split our white powerball 
                numbers in half. This way we can see how lower numbers compare to higher numbers.<br>
                <br>
            </p>
            <h4>Splits</h4>
            <p>
                White Powerball numbers range from 1 to 69. In our set of 1-69, median is 35. Thirty Five sits straight in the middle, and I will 
                for this purpose divide our white numbers into two sets of {1, 2, 3,...34} 
                and {36, 37, 38,...69}. I'll omit 35 on purpose from both sets for this 
                case. If you want to see more detailed stats for any powerball number, 
                including 35 check this page -> <a href="{{ url_for('powerball.search') }}">STATS PER NUMBER</a><br>
                <table class="probability-table-white">
                    <tr>
                        <th>Splits</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>Lower{1-34}</td>
                        <td>2694</td>
                        <td>48.76 %</td>
                    </tr>
                    <tr>
                        <td>Higher{36-69}</td>
                        <td>2762</td>
                        <td>49.99 %</td>
                    </tr>
                </table>
                <p class="probaility-p-insert">
                    All time records can sometimes be misleading. Just take a look at WINNING NUMBERS tab on this page
                    and compare the all time stats to the records in the last 6 months.<br>
                    <br> 
                    Recent trends can swing away from the all time stats. 
                    Word RECENT is subjective, but after observing Powerball winning numbers I have settled to 
                    define recent as the last 24 draws.<br>
                    <br>
                    Now let's see how lower numbers rate against higher numbers in RECENT 
                    (last 24) draws, so we can compare them to the all time stats
                </p>
                <table class="probability-table-white">
                    <tr>
                        <th>Splits</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>Lower{1-34}</td>
                        <td>64</td>
                        <td>53.33 %</td>
                    </tr>
                    <tr>
                        <td>Higher{36-69}</td>
                        <td>55</td>
                        <td>45.83 %</td>
                    </tr>
                </table>
       
            </p>
            <h4>Sets</h4>
            <p>
                After splitting numbers in half, I'd like to go a bit further. Looking at 
                our 69 numbers we can divide them into 7 almost equal sets. 6 of the 
                7 sets will have 10 numbers while the set with single digit numbers 
                will contain 9 numbers. For the sake of simplicity, I will name these 
                sets as follows:<br>
                <br>
                ONES = {1, 2, 3, 4, 5, 6, 7, 8, 9}<br>
                TENS = {10, 11, 12, 13, 14, 15, 16, 17, 18, 19}<br>
                TWENTIES = {20, 21, 22, 23, 24, 25, 26, 27, 28, 29}<br>
                THIRTIES = {30, 31, 32, 33, 34, 35, 36, 37, 38, 39}<br>
                FORTIES = {40, 41, 42, 43, 44, 45, 46, 47, 48, 49}<br>
                FIFTIES = {50, 51, 52, 53, 54, 55, 56, 57, 58, 59}<br>
                SIXTIES = {60, 61, 62, 63, 64, 65, 66, 67, 68, 69}<br>
                <br>
                Now let's check which set gets their numbers drawn the most in Powerball
              
                <table class="probability-table-white">
                    <tr>
                        <th>Sets</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>ONES</td>
                        <td>696</td>
                        <td>12.60 %</td>
                    </tr>
                    <tr>
                        <td>TENS</td>
                        <td>768</td>
                        <td>13.90 %</td>
                    </tr>
                    <tr>
                        <td>TWENTIES</td>
                        <td>817</td>
                        <td>14.79 %</td>
                    </tr>
                    <tr>
                        <td>THIRTIES</td>
                        <td>838</td>
                        <td>15.17 %</td>
                    </tr>
                    <tr>
                        <td>FORTIES</td>
                        <td>757</td>
                        <td>13.70 %</td>
                    </tr>
                    <tr>
                        <td>FIFTIES</td>
                        <td>782</td>
                        <td>14.15 %</td>
                    </tr>
                    <tr>
                        <td>SIXTIES</td>
                        <td>867</td>
                        <td>15.69 %</td>
                    </tr>
                </table>
        
            </p>
            <h4>Winning Hands</h4>
            <p>
                So, why did I bother to create sets of numbers? If you observe winning 
                numbers you'll quickly notice something. Quite often a few or more 
                winning numbers belong to the same set.<br>
                <br>
                For example, a winning hand 
                from <span class="text">Monday, September 2nd 2024</span> had following 
                numbers 8, <span class="text">42, 46, 48,</span> 53. 
                It is easy to notice that 3 out of 5 numbers belong to our established set 
                of FORTIES.<br>
                <br>
                A winning hand from <span class="text">Monday, August 26th 2024 </span>
                had following numbers <span class="text">2, 4,</span> 23, 
                <span class="text">68, 69</span>. Again, it is easy to spot that 2 of 
                our numbers belong to the set of ONES and the other 2 belong to the set of SIXTIES.<br>
                <br>
                Hopefully, this little introduction will help you with what follows. In an attempt to make this 
                easier for everyone to understand, I will modify the naming convention from Poker 
                and establish the following WINNING HANDS:<br>
                <br>
                SINGLES = (example: 2, 13, 34, 56, 61)<br>
                PAIR = (example: <span class="text">2, 5,</span> 21, 45, 57)<br>
                TWO PAIRS = (example: <span class="text">10, 13,</span> 34, <span class="text">45, 48</span>)<br>
                THREE OF SET = (example: 12, <span class="text"> 34, 35, 38,</span> 67)<br>
                POKER = (example: 9, <span class="text">23, 25, 26, 29</span>)<br>
                FLUSH = (example: <span class="text">31, 33, 35, 37, 39</span>)<br>
                <br>
                Now, let's see which WINNING HAND occurs the most in Powerball
             
                <table class="probability-table-white">
                    <tr>
                        <th>Hands</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>SINGLES</td>
                        <td>182</td>
                        <td>16.47 %</td>
                    </tr>
                    <tr>
                        <td>PAIR</td>
                        <td>567</td>
                        <td>51.31 %</td>
                    </tr>
                    <tr>
                        <td>TWO PAIRS</td>
                        <td>212</td>
                        <td>19.19 %</td>
                    </tr>
                    <tr>
                        <td>THREE OF SET</td>
                        <td>134</td>
                        <td>12.13 %</td>
                    </tr>
                    <tr>
                        <td>POKER</td>
                        <td>10</td>
                        <td>0.90 %</td>
                    </tr>
                    <tr>
                        <td>FLUSH</td>
                        <td>0</td>
                        <td>0 %</td>
                    </tr>
                </table>
            </p>
            <p>
                <span class="hands-minor">
                    *This page will get updates
                </span>
            </p>
        </div>
    {% endblock %}
</body>