
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="hands-content-red">
            <p>
                <span class="hands-minor">
                    *This page breaks down winning POWERBALL (RED numbers) in Powerball
                </span>
            </p>
            <p>
                Unlike our white numbers, our Powerball (red) numbers go only up to 26, 
                and we have only one winning red number. We can't avoid superstitious 
                birthday people, but we can still play with our numbers and get some
                interesting stats.
            </p>
            <h4>Splits</h4>
            <p>
                Let's start with easy stuff and split our red numbers to two equall sets. 
                LOWER set will get numbers {1, 2, 3,...13}, while our HIGHER 
                set will contain numbers {14, 15, 16,... 26}
                <br>
                <table class="probability-table-red">
                    <tr>
                        <th>Splits</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>Lower{1-13}</td>
                        <td>550</td>
                        <td>49.64 %</td>
                    </tr>
                    <tr>
                        <td>Higher{14-26}</td>
                        <td>559</td>
                        <td>50.41 %</td>
                    </tr>
                </table>
                
                We've learned already that recent trends can deviate fom all time stats.
                So, let's see how lower numbers rate against higher numbers in the recent (last 24) draws<br>
             
                <table class="probability-table-red">
                    <tr>
                        <th>Splits</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>Lower{1-13}</td>
                        <td>7</td>
                        <td>29.17 %</td>
                    </tr>
                    <tr>
                        <td>Higher{14-26}</td>
                        <td>17</td>
                        <td>70.83 %</td>
                    </tr>
                </table>
       
            </p>
            <h4>Sets</h4>
            <p>
                If we follow the same logic we applied to our white numbers, our
                red numbers can be sorted into 3 unequall sets of numbers. 
                This IS NOT ideal, but we will still be able to compare recent 
                trends with all time stats. Our sets of red balls will look like this:<br>
                <br>
                ONES = {1, 2, 3, 4, 5, 6, 7, 8, 9}<br>
                TENS = {10, 11, 12, 13, 14, 15, 16, 17, 18, 19}<br>
                TWENTIES = {20, 21, 22, 23, 24, 25, 26}<br>
                <br>
                <table class="probability-table-red">
                    <tr>
                        <th>Sets</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>ONES</td>
                        <td>391</td>
                        <td>35.26 %</td>
                    </tr>
                    <tr>
                        <td>TENS</td>
                        <td>408</td>
                        <td>36.79 %</td>
                    </tr>
                    <tr>
                        <td>TWENTIES</td>
                        <td>310</td>
                        <td>27.95 %</td>
                    </tr>
                </table>
                <br>
                This is how our numbers look in the last 24 draws
                <br>
                <table class="probability-table-red">
                    <tr>
                        <th>Sets</th>
                        <th>Times Drawn</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>ONES</td>
                        <td>5</td>
                        <td>20.83 %</td>
                    </tr>
                    <tr>
                        <td>TENS</td>
                        <td>10</td>
                        <td>41.67 %</td>
                    </tr>
                    <tr>
                        <td>TWENTIES</td>
                        <td>9</td>
                        <td>37.50 %</td>
                    </tr>
                </table>
            </p>
            <p>
                <span class="hands-minor">
                    *This page will get updates
                </span>
            </p>
        </div>
    {% endblock %}
</body>